/* main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    background: linear-gradient(107deg, rgba(244,205,151,1) 0%, rgba(155,255,249,1) 23%, rgba(166,252,146,1) 46%, rgba(244,229,151,1) 70%, rgba(244,160,151,1) 100%);
    color: #303030;
    background-size: 10000px;
    animation: backgroundanimation 50s infinite linear;
    width: 100vw;
    height: 100vh;
}

@keyframes backgroundanimation {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.headtext {
    margin-top: 50px;
    padding-left: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-shadow: -1px 1px 2px #717171;
}

.player-container {
    display: flex;
    flex-direction: column;
}

.player:first-child {
    margin-top: 0;
}

.player i {
    color: yellow;
    font-size: x-large;
}

.transparant {
    opacity: 0;
    transition: 300ms opacity;
}

.player .player-name {
    padding-left: 5px;
}

.player span {
    line-height: 23px;
    font-weight: bold;
    font-size: 20px;
}

.player .number {
    padding-left: 30px;
}

.heading {
    padding-top: 100px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-shadow: -1px 1px 2px #717171;
}